body {
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    color: linen;
    display: block;
}

header {
    background-color: white;
    margin-top: -19px;
}

h1 {
   margin-left: 500px;
}

h2 {
    margin-left: 550px;
    font-style: bold;
    color: black;
    
}

#instruction {
    margin-left: 500px;
    color: black;
}

#field {
    background-color: white;
}

/*.letter {
    display: inline-block;
    justify-items: flex-end;
    padding: 20px;
}



#pendu {
    display: inline-block;
    justify-items: flex-start;
}
*/

#keyboard {
    float: right;
}

.letter {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: blue;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.letter:hover {
    background-color: darkblue;
}

.letter:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

ul {
    list-style-type: none;
    }

#champ {
    margin-left: 520px;
}

#inst {
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-weight: bolder;
    

}

#mot {
    margin-left: 520px;
}

#res {
    color: black;
    display: flex;
    flex-direction: row;
    background-color: white;

}