

@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@200&display=swap');


body {
    background-image: url(./Images/fond2.jpg);
    background-size: cover;
    font-family: 'Grenze Gotisch', cursive;
    font-style: italic;
    color: linen;
    
}

header {
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

h1 {
    color: white;
   margin-left: 540px;
   font-size: xx-large;
}

h2 {
    margin-left: 550px;
    font-style: bold;
    color: black;
    
}



#btn{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-family: 'Grenze Gotisch', cursive; ;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: blue;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#btn:hover {
    background-color: darkblue;
}

#btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}




#pendu {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#letter {
    color: black;
    margin-left: 500px;
    font-family: 'Grenze Gotisch', cursive;;
    margin-right: auto;
}

#word {
    color: white;
    font-family: 'Grenze Gotisch', cursive;;
    margin-left: 560px;
    margin-right: auto;
}

#title {
    color: white;
    margin-left: 570px;
    font-size:x-large;
}